*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    font-family: sans-serif;
}
.btn{
    background-color: cyan;
    padding: 30px 45px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
    overflow: hidden;
    position: relative;

}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: lavenderblush;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;

}
.btn:hover::before{
    width: 300px;
    height: 300px;
}